div {
  word-wrap: break-word;
}

#container {
  background-color: #eee;
  padding: 20px;
  border: solid 1px #999;
}

.clear{
  clear:both;
}

.left {
  float: left;
  width: 200px;
  background-color: lightpink
}

.center {
  margin: 0 140px 0 220px;
  min-width: 100px;
  background-color: #ffe6b8;
}

.right {
  float: right;
  width: 120px;
  background-color: darkorange
}